.title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.top-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.title--light {
    color: var(--main-title-color);
}

.title--dark {
    color: var(--second-title-color);
}